<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <title>Mantenimiento de usuarios</title>

    <style>
        .navbar-brand {
            padding: 0 2rem 0 0;
            margin-bottom: 0.1rem;
        }

        .table-container {
            margin-top: 20px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
        }

        .table > tbody {
            vertical-align: middle;
        }

        .avatar {
            width: 2.2rem;
            height: 2.2rem;
            border-radius: 50%;
            margin-right: 10px;
        }

        .status-badge {
            font-size: 0.7rem;
            font-weight: bold;
            padding: 5px 12px;
            border-radius: 20px;
            color: #036721;
        }

        .status-active {
            background-color: rgba(106, 255, 123, 0.5);
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                       th:href="${'usuarioListar.do'}">Administrar usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Características</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="container mt-5">
    <h1>Listado de Usuarios</h1>
    <br/>
    <div class="d-flex align-items-center justify-content-between">
        <a href="usuarioCrear.do" class="btn btn-primary">Crear Usuario</a>
        <p class="text-body-tertiary fw-medium">
            Se han creado en esta sesión: <span th:text="${contador}"></span> usuarios!
        </p>
    </div>

    <div class="container table-container mt-5">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>N°</th>
                <th>
                    <a th:href="@{usuarioListarPag.do(pag=0, orden=nombreCompleto)}">
                        Nombre Completo
                    </a>
                </th>
                <th>
                    <a th:href="@{usuarioListarPag.do(pag=0, orden=usuario)}">
                        Usuario
                    </a>
                </th>
                <th>Clave</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user, it : ${lista}">
                <td th:text="${it.index + 1}"></td>
                <td>
                    <img th:src="@{'data:image/jpeg;base64,' + ${user.fotoBase64}}"
                         th:if="${user.fotoBase64 != null}" class="avatar" alt="Avatar"
                         height="25" width="25"/>

                    <img th:if="${user.fotoBase64 == null}"
                         th:src="'https://via.placeholder.com/40'"
                         class="avatar" alt="Avatar" height="25" width="25"/>

                    <span th:text="${user.nombreCompleto}"></span>
                </td>
                <td th:text="${user.usuario}"></td>
                <td th:text="${user.clave}"></td>
                <td><span class="status-badge status-active">Activo</span></td>
                <td>
                    <a href="#" class="text-primary me-4"><i class="fas fa-edit"></i></a>
                    <a th:href="@{'usuarioEliminar.do?id=' + ${user.id}}"
                       class="text-danger">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       th:href="@{usuarioListarPag.do(pag=0,orden=${param.orden})}">
                        1
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       th:href="@{usuarioListarPag.do(pag=1,orden=${param.orden})}">
                        2
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<!-- Font Awesome -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
</body>
</html>
